:root {
    --theme-color: rgb(0, 255, 221);
    --theme-dark-color: #000000;
    --link-font-color: white;
 }
 html, body {
   margin: 0px;
   padding: 0px;
   width: 800px;
   height: 800px;
   overflow-x: hidden;
 }
 body {
    font-family: 'Times New Roman', Times, serif;
    color: var(--theme-dark-color);
    padding: 10px;
    background-image:url(cyber.jpg);
    background-size: cover;
    background-position: center;

 }

 .container {
   height: 325px;
   width: 325px;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 10px;
 }
 
 a {
    text-decoration: none;
    color: var(--theme-dark-color);
 }
 
 header > h1 {
    color: var(--theme-dark-color);
    font-size: 2rem;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
 }
 
 .stretch-image {
    width: 95vw;
 }
 
 ul {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60vw;
 }

 #scanForm{
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 10px;
 }

 #container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(18, 216, 84, 0.664);
    color: var(--theme-dark-color);
 }